:root {
  --bg-color: #222831;
  /* --bg-second-color: #393e46; */
  --bg-second-color: #393e46ea;
  --bg-navbar-color: #1b2027;
  --text-color: #ffffff;
  --text-second-color: #d65a31;
  --bg-third-color: #212730;
  --success: #2d884d;
  --warning: #fecf6d;
  --danger: #b34045;
  --info: #4091d7;
  --info-second: #99e9eb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
}

a {
  color: var(--text-second-color);
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-second-color);
}

.cursor-pointer {
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--bg-navbar-color);
  z-index: 2;
  border-bottom: 1px solid var(--text-second-color);
}

.spacer {
  height: 9vw;
}

.content {
  padding-bottom: 50px;
  min-height: 1080px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
  padding-right: 0;
}

.menu span {
  padding-right: 4%;
}

.menu a,
.mobile-menu a {
  color: var(--text-color);
}

.menu a:hover,
.user a:hover,
.mobile-menu a:hover {
  text-decoration: none;
  color: var(--text-second-color);
}

.toggle-menu {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.mobile-menu span {
  padding: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.user a {
  color: var(--warning);
}

.logo {
  width: 15vw;
}

.filter-box-mobile,
.favorite-box-mobile {
  display: none;
}

.filter-box {
  border-bottom: 1px solid var(--text-second-color);
  margin-bottom: 15px;
}

.filter-box > .filter-buttons {
  position: absolute;
  top: 50%;
  right: -25px;
  height: 110px;
  transform: translateY(-55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.filter-box > .filter-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  color: var(--text-second-color);
}

.filter-box input {
  background-color: var(--bg-second-color);
  color: var(--text-second-color);
}

.filter-box select {
  background-color: var(--bg-second-color);
  color: var(--text-second-color);
}

.favorites-box-mobile {
  display: none;
}

.favorites-box {
  border-bottom: 1px solid var(--text-second-color);
  margin-bottom: 15px;
}

.favorites-box h3 {
  border-bottom: 1px dotted var(--text-second-color);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* .favorites-img-box, .favorites-content-box, .favorites-remove-box {
  padding-right: 5px;
} */

.favorites-img-box img {
  border-radius: 60px;
  width: 45px;
  height: 45px;
  border: 1px solid var(--text-second-color);
}

.favorites-content-box {
  padding-left: 2px;
  line-height: 13px;
  font-size: 0.8rem;
}

.favorites-remove-box {
  color: var(--danger);
  cursor: pointer;
}

.favorite {
  max-height: 100px;
}

.ad-box {
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid var(--text-second-color);
  background-color: var(--bg-navbar-color);
}

.ad-box img {
  border-radius: 5px;
}

.top {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 20px;
  line-height: 20px;
  background-color: var(--danger);
  opacity: 0.9;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.load-gallery {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: var(--bg-color);
  opacity: 0.9;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.load-gallery-loading {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: var(--bg-color);
}

.ad-titles {
  font-size: 1.5rem;
  color: var(--text-second-color);
}

.ad-contents span {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--text-second-color);
}

.action-bar span {
  font-weight: 600;
}

.messages {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 300px;
  height: 160px;
  z-index: 1;
  transform: translateX(-150px);
}

.paginate button {
  width: 80px;
  height: 40px;
  border-radius: 60px;
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  color: var(--text-second-color);
}

.add-to-favorites-button {
  color: var(--text-second-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.login-page,
.register-page,
.changepassword-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page > .card,
.register-page > .card,
.changepassword-page > .card {
  background-color: var(--bg-second-color);
  opacity: 0.9;
  max-width: 360px;
  width: 360px;
  margin: 15px;
}

.login-page input,
.register-page input,
.changepassword-page input {
  background-color: var(--bg-second-color);
  color: var(--text-second-color);
}

.publication > .card {
  background-color: var(--bg-second-color);
  opacity: 0.9;
  width: 100%;
  margin: 15px;
}

.button {
  color: var(--text-second-color);
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  min-width: 150px;
  min-height: 50px;
  border-radius: 4px;
  font-weight: 600;
}

.a-button {
  color: var(--text-second-color);
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  min-width: 150px;
  min-height: 50px;
  border-radius: 4px;
  font-weight: 600;
}

.a-button:hover {
  color: var(--text-second-color);
  text-decoration: none;
}

.nav-tabs {
  border-bottom: 1px solid var(--bg-second-color);
}

.nav-tabs .nav-link:hover {
  border-color: var(--bg-second-color);
}

.nav-tabs .nav-link.active {
  color: var(--text-color);
  background-color: var(--bg-second-color);
  border-color: var(--bg-second-color);
}

.action-bar > button {
  color: var(--text-second-color);
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.action-bar > p {
  background-color: var(--bg-second-color);
  padding: 15px;
  border-radius: 5px;
}

.inzerat-titles {
  height: auto;
  border-bottom: 1px solid var(--text-second-color);
  padding-bottom: 10px;
}

.inzerat-titles h1 {
  font-size: 1.8rem;
  color: var(--text-second-color);
}

.inzerat-titles span {
  font-size: 1rem;
  color: var(--text-color);
}

.gallery-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.gallery-item {
  padding: 1px;
}

.gallery-items img {
  width: 100px;
  height: 75px;
}

.gallery-items img:first-child {
  width: 100%;
  height: auto;
}

.table {
  color: var(--text-color);
}

.inzerat .card {
  background-color: var(--bg-color);
  border: 1px solid var(--text-second-color);
}

.default-photo {
  border: 1px solid var(--success);
}

.breadcrumb {
  background-color: var(--bg-second-color);
}

.breadcrumb-item.active {
  color: var(--text-second-color);
}

.breadcrumb-item.novisite {
  color: #6c757d;
}

.magazine {
  border-bottom: 1px solid var(--text-second-color);
  margin-bottom: 15px;
}

.magazine a {
  color: var(--text-color);
}

.most-view img {
  border: 2px solid var(--text-second-color);
  border-radius: 5px;
}

.most-view span {
  width: 100%;
  position: relative;
  bottom: 20px;
  left: 0;
  background-color: var(--text-second-color);
  opacity: 0.6;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  border: 1px solid var(--text-second-color);
  background-color: var(--bg-color);
  color: var(--text-second-color);
}

.footer {
  width: 100%;
  height: auto;
  background-color: var(--bg-navbar-color);
  border-top: 1px solid var(--text-second-color);
  color: var(--navbar-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer a {
  color: var(--navbar-text-color);
  margin-right: 10px;
  margin-left: 10px;
}

.footer-links,
.footer-social,
.footer-origin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.user-panel {
  border-bottom: 1px solid var(--text-second-color);
  margin-bottom: 15px;
}

@media (max-width: 1279px) {
  .filter-box,
  .user-panel,
  .favorites-box,
  .favorites-box-wrapper {
    display: none;
  }

  .toggle-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-menu i {
    color: var(--text-second-color);
    font-size: 2rem;
    cursor: pointer;
  }

  .toggle-menu i .count {
    font-size: 0.8rem;
  }

  .menu {
    display: none;
  }

  .filter-box-mobile,
  .favorite-box-mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-second-color);
    padding: 30px;
    padding-bottom: 60px;
    z-index: 1;
    overflow: scroll;
    margin-top: 50px;
  }

  .filter-box-mobile form {
    width: 90%;
  }

  .filter-box-mobile input {
    background-color: var(--bg-second-color);
    color: var(--text-second-color);
  }

  .filter-box-mobile select {
    background-color: var(--bg-second-color);
    color: var(--text-second-color);
  }

  .filter-mobile-buttons,
  .favorite-mobile-buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--text-second-color);
  }

  .filter-box-mobile button,
  .favorite-box-mobile button {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid var(--text-second-color);
    background-color: var(--bg-color);
    color: var(--text-second-color);
  }
}

@media (max-width: 600px) {
  .content {
    padding-top: 70px;
  }

  .logo {
    width: 30vw;
  }
}
